*{
    margin: 10px;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

.body {
    background-color:#0000ff;
    color:#000000;
}
.header {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.span {
    color: brown;
}
.container {
    padding: 10px 10;
}
.nav ol li {
    align-items: center;
    justify-content: initial;
    text-decoration:none;
    font-variant-numeric: slashed-zero;
    animation: alternate-reverse;
}
.sub-title {
    color: brown;
    font-family: sans-serif;
}
.button {
    background-color: cyan;
    border-radius: 50%;
}
.nav {
    text-align: justify;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}